---
title: Welcome to BLETech
---

<div class="welcome">
  <h1>Yomama is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->


TEST YOLO
